# OrangeFox live cfg
KERNEL=5.4.210-android12-9-667269-g856cdf2f247e-ab209
SYSTEM_ROOT=1
PROPER_SAR=1
FOX_BUILD_DATE=Thu 26 Jun 2025 12:00:46 PM UTC
ANDROID_SDK=33
INCREMENTAL_VERSION=209
RELEASE_VERSION=13
BUILD_FLAVOR=X6525-user
ROM_FINGERPRINT=Infinix/X6525-OPPJ/Infinix-X6525:13/TP1A.220624.014/250909V212:user/release-keys
ROM=X6525-F069CFIGcGfGiGo-TGo-OPPJ-PJ-250909V212
MIUI=0
